body{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
    background: linear-gradient(120deg, #417dde, #38455a);
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 15px;
}

header{
    text-align: center;
}

p{
    text-align: center;
}