  
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	/*font-smoothing:antialiased;*/
	text-rendering:optimizeLegibility;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    height: 140px;
    background-size: cover;
    background-position: center;
}

ul{
    float:right;
    list-style-type: none;
    margin-top: 50px;
}

ul li{
    display: inline-block;
    margin-right: 15px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
    border: solid transparent;
    transition: 0.4s ease;
    border-radius: 10px;
}

ul li a:hover{
    background-color: #fff;
    color: black;
}

ul li.active a{
    background-color: white;
    color: black;
}

ul li.account a{
    background-color: #417dde;
    color: white;
}
ul li.flag a {
    background-color: rgba(65, 125, 222, 0);
    color: white;
}

.flag img {
    margin-top: auto;
}

.logo img{
    float: left;
    width: 120px;
    height: auto;
    margin-top: 5px;
}

ul li.flag a {
    background-color: rgba(65, 125, 222, 0);

}

.flag img {
    margin-top: auto;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
    background: linear-gradient(120deg, #417dde, #38455a);
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}

.container {
	max-width:800px;
	width:100%;
	margin:0 auto ;
	position:relative;
	background:#f9f9f959; 
    border-radius: 40px;
    padding : 50px;
    margin-top: 30px;
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

#questions input[type="text"], #questions input[type="text"], #questions input[type="text"], #questions input[type="text"], { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }


h1 {
	color: #000000;
	display: block;
	font-size: 30px;
	font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
}

h2{
    color: #373B44;
	display: block;
	font-size: 20px;
	font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: rgba(238, 238, 238, 0.753);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: rgba(204, 204, 204, 0.493);
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: rgba(255, 255, 255, 0.479);
    display: none;
    overflow: hidden;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }

table{
    border-collapse: collapse; /*Les cellules du tableau sont collées*/
}

td /*Toutes les cellules des tableaux*/
{
    border: 0.5px solid rgb(112, 112, 112);
    background-color: rgba(255, 255, 255, 0.479);
    padding : 10px;
    margin-bottom: 10px;;    
}


hr{
	width:25%;
	margin-left: 30px;
	margin: auto;
	height:2px;
	border-width:0;
	background-color:#707070;
}
#questions h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

.champs{
    margin-top: 40px;
}

.questions, .questions{
    display:flex;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	/*min-width: 100%;*/
	padding: 0 10px;
	width: 50%;
}

.large{
    width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}


#questions button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#questions  input:focus, #questions textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

.informations{
    margin:40px 120px;
}

.bas-formulaire{
    display: flex;
    padding-right: 40px;
}

.footer{
    text-align: center;
    background: #2c2f37;
    color: white;
    height: 300px;
    position: relative;
    margin-top: 60px;
}

.footer-section{
    padding-top: 30px;
    float: left;
    width: 33.33%;
    padding: 15px;
    font-size: 20px;
    color: #ffffff;
}

.footer-section .info-button{
    text-decoration: none;
    color: #fff;
    border: solid transparent;
}

.footer-section .info-buttons{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}
.mapouter{
    margin: 0 auto;
}

.footer-section .mail{
    padding-bottom: 10px;
}

.footer-section .contact-info{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.footer .footer-bottom{
    background: #2c2f37;
    color: white;
    width: 100%;
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

.sitemap ul{
    color: white;
}

.sitemap ul li{
    display: inline-block;
    margin-right: 15px;
    width: 100%;
}

.sitemap ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
    border: solid transparent;
    transition: 0.4s ease;
    border-radius: 10px;
}
.sitemap{
    margin-top: 20px;
    height:100px;
}
