*{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float:right;
    list-style-type: none;
    margin-top: 40px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: solid transparent;
    transition: 0.4s ease;
    border-radius: 10px;
}

ul li a:hover{
    background-color: #fff;
    color: black;
}

ul li.active a{
    background-color: white;
    color: black;
}

ul li.account a{
    background-color: #417dde;
    color: white;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
    margin-top: 20px;
}

.main{
    max-width: 1450px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: white;
    font-size: 100px;
}

.intro{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.intro h2{
    color: white;
    font-size: 40px;
}

.page-wrapper{
    min-height: 100%;
}

#explain{
    width: 100%;
    padding: 20px 0;
}

.title-text{
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    padding-bottom: 70px;
}

.description{
    padding-top: 40px;
    text-align: center;
    font-size: 15px;
    padding-left: 100px;
    padding-right: 100px;
}

#tests{
    width: 100%;
    height: 700px;
    padding: 20px 0;
    background: #e5eefd;
}

.title-tests{
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    padding-bottom: 70px;
}

.column{
    padding-top: 70px;
    float: left;
    width: 33.33%;
    pading: 15px;
}

.heart{
    padding-top: 10px;
}

.cardiac{
    padding-top: 10px;
    font-size: 25px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}



.temp{
    padding-top: 5px;
    font-size: 25px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.react{
    padding-top: 10px;
    font-size: 25px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

#stats{
    width: 100%;
    height: 365px;
    padding: 20px 0;
    background: white;
}

.title-stats{
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    padding-bottom: 70px;
}

.data-column{
    padding-top: 60px;
    float: left;
    width: 33.33%;
    pading: 15px;
    font-size: 45px;
    color: #417dde;

}

#trust{
    width: 100%;
    height: 400px;
    padding: 20px 0;
    background: #e5eefd;
}

.title-trust{
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    padding-bottom: 70px;
}

.trust-column{
    padding-top: 60px;
    float: left;
    width: 50%;
    pading: 15px;

}

.footer{
    text-align: center;
    background: #2c2f37;
    color: white;
    height: 300px;
    position: relative;
}

.footer-section{
    padding-top: 30px;
    float: left;
    width: 33.33%;
    pading: 15px;
    font-size: 20px;
    color: #ffffff;
}

.footer-section .info-button{
    text-decoration: none;
    color: #fff;
    border: solid transparent;
}

.footer-section .info-buttons{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.mapouter{
    padding-top: 20px;
    margin: 0 auto;
}

.footer-section .mail{
    padding-bottom: 10px;
}

.footer-section .contact-info{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.footer .footer-bottom{
    background: #2c2f37;
    color: white;
    width: 100%;
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}